 body {
     max-width: 100%;
     margin:auto;
 }

 #medlogo {
     height:2em;
     width:2em;
 }
 #navbar1,.btn-outline-primary,.btn {
     color:rgb(138,43,226);
     border-color:rgb(138,43,226) ;
 }
 #navbar1,#navbar2{
    justify-content: unset;
    max-width:80%;
    margin:auto;
 }
 #onezerologo{
     height:2em;
 }
 #entete-article {
    max-width:66%;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    font-weight: unset;
}

#harry{
    height:3em;
    border-radius: 50%;
    float:left;
}
#follow {
    height:2em;
}
