.carre {
    width: 30px; 
    height : 30px;
    border : 2px solid black; 
    background-color:none;
}

.losange {
    width: 30px; 
    height : 30px;
    border : 2px solid black; 
    background-color:none;
    transform: rotate(45deg)
}

.rond {
    width: 30px; 
    height : 30px;
    border : 2px solid black; 
    background-color:none;
    border-radius: 50%;

}

table {
border-spacing: 30px 3rem;
}