/* Reset*/
ul{
  padding:0;
}
a{
  text-decoration: none;
  color:slategray;
}

/*Composant*/
.menu {
  display: flex;
  flex-direction: row;
}

  .menu > li {
    list-style-type: none;
    width:20%;
    text-align: center;
  }
    .deroule{
      background-color: lightslategray;
      height: 0px;
      transition: all 0.5s ease;
    }
    .deroule > li {
      display: flex; /* utilisé pour centrer les a dans les li
                      en combinaison à a-i et j-c */
      align-items: center;
      justify-content: center;
      list-style-type: none;
      border-top: 1px solid white;
      height:100px;
      box-sizing: border-box;
    }
      .deroule a {
        color:white;
      }
  
/*Etat*/
.menu > li:hover {
border-bottom:2px solid teal;
}
.deroule li:hover {
  background-color: skyblue;
}

/*Apparition du menu déroulant*/
.services:hover .deroule {
  height:300px;
}