label { 
  display: block;
  width:80px;
  height: 20px;

}
#switch {
  display:none; /*Pour rendre la checkbox native invisible*/
}
/*Propriétés par défaut*/
#switch ~ label::before {
  margin: 10px;
  display:block;
  content:"OUI";
  background-color:green;
  width:80px;
  height: 20px;
  padding-left : 3px;
  padding-right:3px;
  transition: background-color 0.2s linear;
  text-align: right;
  padding-top:10px;
  cursor: pointer;
  border-radius: 32%;
  color: white;
  font-weight: bold;
}
#switch:checked ~ label::before {
  content:"NON";
  background-color: red;
  text-align: left;
}
  
#switch ~ label::after {
  content:"";
  position: absolute;
  display: block;
  background-color: white;
  width: 30px;
  height:30px;
  top:8px;
  left:2px; /* left: Positionné à 0px à gauche du dernier élément positionné */
  border: 2px grey solid;
  border-radius: 50%;
  transition: left 0.3s ease-in ;
}
#switch:checked ~ label::after {
  left:66px;
} 