
ul{
    list-style: none;
    counter-reset: (count);
}

.list1 > li:before {
    content :"";
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 5px solid transparent;
    border-bottom : 5px solid transparent;
    border-left : 5px solid black;
   }
   
   .list2 > li:before {
		content: "";
    	border: 2px solid blue;
    	display: inline-block;
    	height: 3px;
        width: 3px;
    	vertical-align: middle;
    	transform:rotate(45deg);
    	margin-right: 5px;
   }

    .list3 li{
        margin-bottom: 5px;
        counter-increment: count;
    }
        
    .list3 li:before{
       content : counter(count);
       display: inline-block;
       width: 20px;
       height: 20px;
       border-radius: 50%;
       background-color: blue;
       text-align: center;
       color: white;
       font-weight: bold;
       margin-right: 4px;
         }